.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}

.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours], 
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}
